/*General*/
@import "../../General/Css/footer.css";
@import "../../General/Css/General-Css.css";
@import "../../General/Css/Header-Css.css";
@import "../../General/Css/Font-Css.css";
.Work-Container{
    width: 100%;
    height: 200vh;
    display: grid;
    grid-gap: 80px;
    grid-template: 1fr 2fr 3fr 2fr / 1fr;
    grid-template-areas:
    "Work-Header" "Top-Title" "Box-1" "footer";
    align-items: center;
    justify-items: center;
}
/*Header*/
.Header-Background {
    grid-area: Work-Header;
    width: 100%;
    z-index: 999;
}
/*Work-Title*/
.Work-Title{
    grid-area: Top-Title;
    width:85%;
}
.Work-Title-Container h2{
    width: 87%;
}
.Work-Title-Container h3{
    color: var(--grey-color);
}
/*Pictures*/
.Box-1{
    display: grid;
    grid-area: Box-1;
    width: 85%;
    grid-gap: 15px;
    grid-template: repeat(6 , auto) / 1fr;
    grid-template-areas:
    "Pic-1" "Pic-2" "Pic-3" "Pic-4" "Pic-5" "Pic-6";
    align-items: center;
    justify-items: center;
}
.Box-1 a{
    position: relative
}
.Picture-Container{
    overflow: hidden;
}
.Picture-Container img{
    width: 100%;
    height: auto;
    position: relative;
    transition: 0.2s ease;
    size: inherit;
    box-sizing: border-box;
}
.Picture{
    transition: all 0.2s;
}
.Picture-1-Home{
    grid-area: Pic-1;
}
.Picture-2-Home{
    grid-area: Pic-2;
}
.Picture-3-Home{
    grid-area: Pic-3;
}
.Picture-4-Home{
    grid-area: Pic-4;
}
.Picture-5-Home{
    grid-area: Pic-5;
}
.Picture-6-Home {
  grid-area: Pic-6;
}

/*Picture-BackGrounds*/
.Picture-Bg-Special {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.Picture-Bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.Picture-Bg-1{
    background-color: rgba(0,0,0,0.8);
}
.Picture-Bg-2{
    background-color: rgba(255,4,55,0.8);
}
.Picture-Bg-3{
    background-color: rgba(228,157,51,0.8);
}
.Picture-Bg-4 {
    background-color: rgba(57,97,143,0.8);
}
.Picture-Bg-5 {
    background-color: rgba(0,0,0,0.8);
}
/*Picture-Text*/
.Picture-text{
    color: white;
    font-size: 110%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/*Picture-Hover*/
.Picture-Container:hover .Picture-Bg{
    opacity: 0.7;
}
.Picture-Container:hover .Picture{
    transform: scale(1.15);
}
.Picture-Container:hover .Picture-Bg-Special{
    opacity: 1;
}
.Picture-Container:hover .Picture-Special{
    opacity: 0;
}
/*Tablet*/
@media only screen and (min-width: 750px) and (max-width: 1000px){
    .Home-Container {
        height: 130vh;
        grid-template: 1fr 1.5fr 1.5fr 1fr / repeat(2, auto);
        grid-template-areas:
    "Work-Header Work-Header"
    "Top-Title Top-Title"
    "Box-1 Box-1"
    "footer footer";
    }
    .Work-Title{
        width: 85%;
    }
    .Work-Container h2{
        width: 70%;
    }
    .Box-1{
        width: 85%;
        grid-gap: 30px;
        grid-template: repeat(3 , auto) / repeat(2,auto);
        grid-template-areas:
         "Pic-1 Pic-2"
         "Pic-3 Pic-4"
         "Pic-5 Pic-6";
    }
}

/*Laptop*/
@media only screen and (min-width: 1000px) {
    .Home-Container {
        grid-template: 1fr 1.5fr 1.5fr 1fr / repeat(2, auto);
        grid-template-areas:
    "Work-Header Work-Header"
    "Top-Title Top-Title"
    "Box-1 Box-1"
    "footer footer";
    }
    .max {
        max-width: 1060px;
    }
    .Work-Title{
        width: 90%;
    }
    .Work-Container h2{
        width: 47%;
    }
    .Box-1{
        width: 90%;
        grid-gap: 40px;
        grid-template: repeat(3 , auto) / repeat(2,auto);
        grid-template-areas:
         "Pic-1 Pic-2"
         "Pic-3 Pic-4"
         "Pic-5 Pic-6";
    }
}
