@import "../../Home/Css/footer.css";
@import "../../General/Css/General-Css.css";

*{
    margin: 0;
    padding: 0;
}
:root{
    --yellow-primary-color: #fff226;
    --yellow-secondary-color: #b8ad00;
    --yellow-tertiary-color: #f2e400;
    --grey-color: #cccccc;
}
.Work-Container{
    width: 100%;
    height: 300vh;
    display: grid;
    grid-gap: 5%;
    grid-template: 0.1fr 0.8fr 1.5fr repeat(2 , 0.2fr) / 1fr;
    grid-template-areas:
    "Work-Header" "Top-Title" "Box-1" "Contact-Us" "footer";
    align-items: center;
    justify-items: center;
}
/*Header*/
.Header-Background {
    grid-area: Work-Header;
    width: 100%;
    z-index: 999;
}
/*Work-Title*/
.Work-Title{
    grid-area: Top-Title;
    width:80%;
}
.Work-Title-Container h2{
    width: 60%;
}
.Work-Title-Container h3{
    color: var(--grey-color);
}
/*Pictures*/
.Box-1{
    display: grid;
    grid-area: Box-1;
    width: 80%;
    grid-gap: 10px;
    grid-template: repeat(6 , auto) / 1fr;
    grid-template-areas:
    "Pic-1" "Pic-2" "Pic-3" "Pic-4" "Pic-5" "Pic-6";
    align-items: center;
    justify-items: center;
}
.Box-1 a{
    position: relative
}
.Picture-Container{
    overflow: hidden;
}
.Picture-Container img{
    width: 100%;
    height: auto;
    position: relative;
    transition: 0.2s ease;
    size: inherit;
    box-sizing: border-box;
}
.Picture{
    transition: all 0.2s;
}
.Picture-1-Home{
    grid-area: Pic-1;
}
.Picture-2-Home{
    grid-area: Pic-2;
}
.Picture-3-Home{
    grid-area: Pic-3;
}
.Picture-4-Home{
    grid-area: Pic-4;
}
.Picture-5-Home{
    grid-area: Pic-5;
}
.Picture-6-Home {
  grid-area: Pic-6;
}

/*Picture-BackGrounds*/
.Picture-Bg-Special {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.Picture-Bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.Picture-Bg-1{
    background-color: rgba(0,0,0,0.8);
}
.Picture-Bg-2{
    background-color: rgba(255,4,55,0.8);
}
.Picture-Bg-3{
    background-color: rgba(228,157,51,0.8);
}
.Picture-Bg-4 {
    background-color: rgba(57,97,143,0.8);
}
.Picture-Bg-5 {
    background-color: rgba(0,0,0,0.8);
}
/*Picture-Text*/
.Picture-text{
    color: white;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/*Picture-Hover*/
.Picture-Container:hover .Picture-Bg{
    opacity: 0.7;
}

.Picture-Container:hover .Picture{
    transform: scale(1.1);
}
.Picture-Container:hover .Picture-Bg-Special{
    opacity: 1;
}
.Picture-Container:hover .Picture-Special{
    opacity: 0;
}

/*Contact-US*/
.Contact-Us {
    grid-area: Contact-Us;
    width: 80%;
}
.Contact-Us h2{
    color: var(--yellow-tertiary-color);
    width: 60%;
}
.Contact-Us-link{
    text-underline: var(--yellow-tertiary-color);
    color: inherit;
}

/*Tablet*/
/*Tablet*/
@media screen and (min-width: 750px) and (max-width: 1000px) {
    .Home-Container {
        grid-template: 0.1fr 0.8fr 1fr repeat(2, 0.2fr) / repeat(2, auto);
        grid-template-areas:
    "Work-Header Work-Header"
    "Top-Title Top-Title"
    "Box-1 Box-1"
    "Contact-Us Contact-Us"
    "footer footer";
    }
    .Work-Title{
        width: 85%;
    }
    .Box-1{
        width: 85%;
        grid-template: repeat(3 , auto) / repeat(2,auto);
        grid-template-areas:
         "Pic-1 Pic-2"
         "Pic-3 Pic-4"
         "Pic-5 Pic-6";
    }
    .Contact-Us{
        width: 85%;
    }
}

/*Laptop*/
/*Laptop*/

@media screen and (min-width: 1001px){
    .Home-Container {
        grid-template: 0.1fr 0.5fr 1fr repeat(2, 0.2fr) / repeat(2, auto);
        grid-template-areas:
    "Work-Header Work-Header"
    "Top-Title Top-Title"
    "Box-1 Box-1"
    "Contact-Us Contact-Us"
    "footer footer";
    }
    .Work-Title{
        width: 80%;
    }
    .Work-Title h2{
        width: 50%;
    }
    .Box-1{
        width: 80%;
        grid-template: repeat(3 , auto) / repeat(2,auto);
        grid-template-areas:
         "Pic-1 Pic-2"
         "Pic-3 Pic-4"
         "Pic-5 Pic-6";
    }
    .Contact-Us{
        width: 80%;
    }
    .Contact-Us h2{
        width: 50%;
    }
}