.Work-Container{
    width: 100vw;
    height: auto;
    display: grid;
    grid-template: 0.1fr 0.4fr repeat(5  ,0.25fr) 1fr repeat(2 , 0.2fr) / 1fr;
    grid-template-areas:
    "Work-Header" "Work-Title" "Pic-1" "Pic-2" "Pic-3" "Pic-4"
    "Pic-5" "Pic-6" "Contact-Us" "Work-Footer";
    justify-content: space-between;
    align-items: end;
    align-content: stretch;
    justify-items: center;
}
/*#Headr*/
.Header-Background{
    grid-area: Work-Header;
}
/*Titel*/
.Work-Title{
    grid-area: Work-Title;
}
.Work-Title-Container{
  margin: 0 60px
}
.Work-Title-Container h3{
    color: var(--grey-color);
}
/*Pictures*/
img{
    width: 100%;
    height: auto;
    position: relative;
    transition: 0.2s ease;
    size: inherit;
    box-sizing: border-box;
}
.Picture{
    transition: all 0.2s;
}
.Picture-Container{
    overflow: hidden;
}
.Picture-1-Home{
    width: 80vw;
    grid-area: Pic-1;
    position: relative;
}
.Picture-2-Home{
    width: 80vw;
    grid-area: Pic-2;
    position: relative;
}
.Picture-3-Home{
    width: 80vw;
    grid-area: Pic-3;
    position: relative;
}
.Picture-4-Home{
    width: 80vw;
    grid-area: Pic-4;
    position: relative;
}
.Picture-5-Home{
    width: 80vw;
    grid-area: Pic-5;
    position: relative;
}
.Picture-6-Container {
    width: 80vw;
    grid-area: Pic-6;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../Element/Img/simple2-home-portfolio-project-6a.png");
}
/*Picture-BackGrounds*/
.Picture-Bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.Picture-Bg-1{
    background-color: rgba(0,0,0,0.8);

}
.Picture-Bg-2{
    background-color: rgba(255,4,55,0.8);
}
.Picture-Bg-3{
    background-color: rgba(228,157,51,0.8);
}
.Picture-Bg-4 {
    background-color: rgba(57,97,143,0.8);
}
.Picture-Bg-5 {
    background-color: rgba(0,0,0,0.8);
}
/*Picture-Text*/
.Picture-text{
    color: white;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/*Picture-Hover*/
.Picture-Container:hover .Picture-Bg{
    opacity: 0.7;
}
.Picture-Container:hover .Picture{
    transform: scale(1.1);
}
.Picture-6-Container:hover{
    background-image: url("../../../Element/Img/simple2-home-portfolio-project-6b.png");
}
/*Contact Us*/
.Contact-Us{
    grid-area: Contact-Us;
    color: var(--yellow-tertiary-color);
    margin: 0 60px
}
.Contact-Us-link{
    text-underline: var(--yellow-tertiary-color);
    color: inherit;
}
/*Footer*/
.Work-Footer{
    grid-area: Work-Footer;
}
/*Tablet*/
/*Tablet*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .Work-Container{
        display: grid;
        grid-template: 0.1fr 0.4fr repeat(3  ,0.5fr) repeat(2 , 0.2fr) /0.5fr  0.5fr;
        grid-template-areas:
    "Work-Header Work-Header"
    "Work-Title Work-Title"
    "Pic-1 Pic-2"
    "Pic-3 Pic-4"
    "Pic-5 Pic-6"
    "Contact-Us Contact-Us"
    "Work-Footer Work-Footer";
    }
    .Picture-1-Home {
        width: 40vw;
    }
    .Picture-2-Home{
        width: 40vw;
    }
    .Picture-3-Home{
        width: 40vw;
    }
    .Picture-4-Home{
        width: 40vw;
    }
    .Picture-5-Home{
        width: 40vw;
    }
    .Picture-6-Container{
        width: 40vw;
    }

    /*h1{*/
    /*    font-size: 41px;*/
    /*    line-height: 50px;*/
    /*    font-weight: 900;*/
    /*}*/
    /*h3{*/
    /*    font-size: 27px;*/
    /*    line-height: 28px;*/
    /*    font-weight: 800;*/
    /*}*/
}

/*Laptop*/
/*Laptop*/

@media screen and (min-width: 1025px){
    .Work-Container{
        display: grid;
        grid-template: 0.1fr 0.4fr repeat(3  ,0.5fr) repeat(2 , 0.2fr) /0.5fr  0.5fr;
        grid-template-areas:
    "Work-Header Work-Header"
    "Work-Title Work-Title"
    "Pic-1 Pic-2"
    "Pic-3 Pic-4"
    "Pic-5 Pic-6"
    "Contact-Us Contact-Us"
    "Work-Footer Work-Footer";
    }
    .Picture-1-Home {
        width: 40vw;
    }
    .Picture-2-Home{
        width: 40vw;
    }
    .Picture-3-Home{
        width: 40vw;
    }
    .Picture-4-Home{
        width: 40vw;
    }
    .Picture-5-Home{
        width: 40vw;
    }
    .Picture-6-Container{
        width: 40vw;
    }
    /*h1{*/
    /*    font-size: 51px;*/
    /*}*/
    /*h3{*/
    /*    font-size: 29px;*/
    /*}*/
}

