.Header-Background {
    background-color: white;
    position: sticky;
    top: 0;
}

.Header-Home {
    width: 100%;
    margin: auto;

}
.Header-Home-Logo {
    display: flex;
    justify-content: space-between;
}

.Header-Home a {
    text-decoration: none;
}

.Header-Home ul {
    list-style-type: none;
    padding-left: 0;
    background-color: white;
}

.Header-Home span {
    font-family: "Lora", sans-serif;
    font-size: var(--semismall-fontsize);
    color: black;
    font-weight: bold;
}

.Header-Home span:hover {
    font-family: "Lora", sans-serif;
    font-size: var(--semismall-fontsize);
    color: gray;
    font-weight: bold;
}

.Header-Home li {
    padding: 12px 24px;
}

.Header-Home img {
    padding-top: 16px;
}


.Header-Home i {
    padding: 20px;
}
.Header-Home nav {
    display: none;
}

@media only screen and (min-width: 750px) and (max-width: 999px) {
    .Header-Home nav {
        width: 300px;
        display: none;
        float: right;
    }
    .Header-Home {
        width: 75%;
        margin: auto;
    }

}

@media only screen and (min-width: 1000px) {
    .Header-Home {
        width: 75%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .Header-Home ul {
        display: flex;
        flex-direction: row;
    }
    .Header-Home nav {
        width: auto;
        margin: 0;
        display: inline;
    }
    .Header-Home i {
        display: none;
    }
    .Header-Home ul {
        margin-top: 24px;
    }
}