.Header-Background {
    background-color: white;
    position: sticky;
    top:0px;
}
.Header-Home {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.Header-Home a {
    text-decoration: none;
}
.Header-Home ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.Header-Home span {
    font-family: "Lora", sans-serif;
    font-size: var(--semismall-fontsize);
    color: black;
    font-weight: bold;
}
.Header-Home span:hover {
    font-family: "Lora", sans-serif;
    font-size: var(--semismall-fontsize);
    color: gray;
    font-weight: bold;
}
.Header-Home li {
    padding: 12px 24px;
}
.Header-Home img {
    padding-top: 16px;
}