@import "../../General/Css/footer.css";
@import "../../General/Css/Header-Css.css";
@import "../../General/Css/General-Css.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.home__container {
    width: 100%;
    height: 550vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 7fr repeat(2, 10fr) 4fr 4.5fr;
    grid-template-areas:
    "Header-Background"
            "home--title"
            "box--img1"
            "box--img2"
            "home--dec"
            "can--box"
            "footer";
    align-items: center;
    justify-items: center;
}

.Header-Background{
    grid-area: Header-Background;
}

.home--title {
    grid-area: home--title;
    background: var(--yellow-primary-color);
    width: 100%;
    height: 100%;
    padding-bottom: 150px;
    padding-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Encode Sans", sans-serif;
}

.title--style {
    width: 85%;
}

.title--style h2 {
    color: #b8ad00;
}

.title--style h1 {
    width: 90%;
    margin: 2rem 0;
    font-size: var(--large-fontsize);
    font-weight: bolder;
}

.button--style {
    outline: none;
    border: none;
    background-color: #fff;
    width: 11rem;
    height: 2.5rem;
    font-family: "Lora", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button--style a{
    text-decoration: none;
}
.button--docs {
    width: 12px;
    margin-left: 1rem;
}

.box--img1 {
    grid-area: box--img1;
    width: 85%;
    margin-top: -7rem;
}

.img--style {
    width: 100%;
    height: auto;
}

.box-img {
    overflow: hidden;
}

.wrap {
    transition: all 0.5s;
}

.box-img:hover .wrap {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    cursor: pointer;
    color: white;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: "Lora", sans-serif;
}

.box-img:hover .img1 {
    opacity: 0.8;
    background-color: rgb(0, 0, 0);
}

.fix-imgStyle {
    position: relative;
    margin-top: 1rem;
}

.img2:hover {
    opacity: 0.8;
    background-color: rgb(255, 4, 55);
}

.img3:hover {
    opacity: 0.8;
    background-color: rgb(228, 157, 51);
}

.img4:hover {
    opacity: 0.8;
    background-color: rgb(57, 97, 143);
}

.img5:hover {
    opacity: 0.8;
    background-color: rgb(0, 0, 0);
}

.yellow--love {
    position: absolute;
    cursor: pointer;
    color: white;
    bottom: 0;
    opacity: 0;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 99.5%;
}

.yellow--love:hover {
    opacity: 1;
}

.box--img2 {
    grid-area: box--img2;
    width: 85%;
}

.home--dec {
    grid-area: home--dec;
    width: 85%;
    line-height: 2.5rem;
    margin: 3rem 0;
    font-family: "Encode Sans", sans-serif;
}

.dec--title {
    font-size: 1.8rem;
    font-weight: bold;
}

.dec--title a {
    text-decoration: underline;
    color: #000;
}

.dec--titleSub {
    font-size: var(--verysmall-fontsize);
    color: var(--grey-color);
    margin: 2rem 0;
}

.can--box {
    grid-area: can--box;
    width: 85%;
    font-family: "Encode Sans", sans-serif;
}

.can--Design {
    margin: 1rem 0;
}

.can--titleStyle {
    color: var(--grey-color);
}

.can__underline {
    margin: 1rem 0;
}

.paragragh {
    font-family: "Lora", sans-serif;
}

.can--Motion {
    margin: 1rem 0;
}

.can--Strategy {
    margin: 1rem 0;
}

@media only screen and (min-width: 1000px) {
    .home__container {
        width: 100%;
        height: 300vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 8fr repeat(2, 4fr) 2fr 2fr 2fr;
        grid-template-areas:
        "Header-Background Header-Background Header-Background"
            "home--title home--title home--title"
            "box--img1 box--img1 box--img1"
            "box--img2 box--img2 box--img2"
            "home--dec home--dec home--dec"
            "can--box can--box can--box"
            "footer footer footer";
        align-items: center;
        justify-items: center;
    }

    .max {
        max-width: 1000px;
    }

    .title--style h2 {
        font-size: var(--medium-fontsize);
    }

    .title--style h1 {
        width: 60%;
        font-size: 4rem;
    }

    .button--style {
        height: 3rem;
        font-size: 1rem;
    }

    .box--img1 {
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
    }

    .box--img2 {
        display: flex;
        flex-direction: row;
    }

    .fix-imgStyle {
        position: relative;
        margin-right: 1rem;
    }

    .overlay {
        font-size: var(--small-fontsize);
    }

    .overlay p {
        width: 70%;
    }

    .dec--title {
        font-size: var(--verylarge-fontsize);
        line-height: 3rem;
        width: 75%;
    }
    .dec--titleSub{
        font-size: var(--small-fontsize);
    }
    .can--box{
        display: flex;
    }
    .can--titleStyle{
        font-size: 1.3rem;
    }
}
