/*General*/
@import "../../General/Css/footer.css";
@import "../../General/Css/General-Css.css";
@import "../../General/Css/Header-Css.css";
@import "../../General/Css/Font-Css.css";
body{
    font-size: 13px;
}
.Home-Container{
    width: 100%;
    height: 300vh;
    display: grid;
    grid-gap: unset;
    grid-template: 0.1fr 0.9fr 1.5fr repeat(2 , 0.2fr) / 1fr;
    grid-template-areas:
    "Home-Header" "Top-Title" "Box-1" "Offer" "Box-2" "footer";
    align-items: center;
    justify-items: center;
}
/*Header*/
.Header-Background{
    grid-area: Home-Header;
    width: 100%;
    z-index: 999;
}
/*Home-Title*/
.Home-Title{
    grid-area: Top-Title;
    background-color: var(--yellow-primary-color);
    width:100%;
    padding: 125px 0 225px 0;
    display: flex;
    justify-content: center;
}
.Home-Title-Container{
    width: 85%;
}
.Home-Title-Container h1{
    color:#161922;
    width: 95%;
}
.Home-Title-Container h3{
    color: var(--yellow-tertiary-color);
}
/*Header-Button*/
button{
    border: none;
    background-color: white;
    font-size: 110%;
    padding: 15px 40px;
    cursor: pointer;
}
button img{
    width: 12px;
    margin-left: 1rem;
}

/*Pictures*/
.Box-1{
    display: grid;
    grid-area: Box-1;
    width: 85%;
    grid-gap: 10px;
    grid-template: repeat(6 , auto) / 1fr;
    grid-template-areas:
    "Pic-1" "Pic-2" "Pic-3" "Pic-4" "Pic-5" "Pic-6";
    align-items: center;
    justify-items: center;
    margin-top: -120px;
}
.Box-1 a{
    position: relative
}
.Picture-Container{
    overflow: hidden;
}
.Picture-Container img{
    width: 100%;
    height: auto;
    position: relative;
    transition: 0.2s ease;
    size: inherit;
    box-sizing: border-box;
}
.Picture{
    transition: all 0.2s;
}
.Picture-1-Home{
    grid-area: Pic-1;
}
.Picture-2-Home{
    grid-area: Pic-2;
}
.Picture-3-Home{
    grid-area: Pic-3;
}
.Picture-4-Home{
    grid-area: Pic-4;
}
.Picture-5-Home{
    grid-area: Pic-5;
}
.Picture-6-Home {
    grid-area: Pic-6;
}
/*Picture-BackGrounds*/
.Picture-Bg-Special {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.Picture-Bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.Picture-Bg-1{
    background-color: rgba(0,0,0,0.8);
}
.Picture-Bg-2{
    background-color: rgba(255,4,55,0.8);
}
.Picture-Bg-3{
    background-color: rgba(228,157,51,0.8);
}
.Picture-Bg-4 {
    background-color: rgba(57,97,143,0.8);
}
.Picture-Bg-5 {
    background-color: rgba(0,0,0,0.8);
}
/*Picture-Text*/
.Picture-text{
    color: white;
    font-size: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/*Picture-Hover*/
.Picture-Container:hover .Picture-Bg{
    opacity: 0.7;
}
.Picture-Container:hover .Picture{
    transform: scale(1.15);
}
.Picture-Container:hover .Picture-Bg-Special{
    opacity: 1;
}
.Picture-Container:hover .Picture-Special{
    opacity: 0;
}
/*Offer*/
.Offer {
    grid-area: Offer;
    width: 85%;
   padding: 150px 0;
}
.Offer h2{
    width: 90%;
}
.Offer h4{
    color: var(--grey-color);
}
.Offer-Link{
    text-underline: black;
    color: inherit;
}
/*#DMS*/
.Box-2{
    width: 80%;
    display: grid;
    grid-gap: 25px;
    grid-area: Box-2;
    grid-template: repeat(3 ,auto) / 1fr;
    grid-template-areas:
    "Design" "Motion" "Strategy";
    align-items: center;
    justify-items: center;
}
.Design{
    grid-area: Design;
}
.Motion{
    grid-area: Motion;
}
.Strategy{
    grid-area: Strategy;
}
.DMS-Font h3{
    color: var(--grey-color);
    text-underline: var(--grey-color);
    border-bottom: var(--grey-color) 5px solid;
    display: inline;
    padding:20px 0;
}
.DMS-Font h5{
   margin:40px 0;
}
/*Tablet*/
/*Tablet*/
@media only screen and (min-width: 750px) and (max-width: 1000px) {
    .Home-Container {
        height: 150vh;
        grid-template: 0.1fr 0.9fr 0.5fr repeat(3, 0.2fr) / repeat(3, 0.33fr);
        grid-gap: 0;
        grid-template-areas:
    "Home-Header Home-Header Home-Header"
    "Top-Title Top-Title Top-Title"
    "Box-1 Box-1 Box-1"
    "Offer Offer Offer"
    "Box-2 Box-2 Box-2 "
    "footer footer footer";
    }
    .Home-Title-Container{
        width: 85%;
    }
    .Box-1{
        width: 85%;
        grid-template: repeat(2 , auto) / repeat(3,auto);
        grid-template-areas:
         "Pic-1 Pic-2 Pic-3" "Pic-4 Pic-5 Pic-6";
        margin-top: -100px;
    }
    .Offer{
        width: 85%;
        padding: 125px 0;
    }
    .Offer h2{
        width: 70%;
    }
    .Box-2{
        width: 85%;
        grid-template: 1fr / repeat(3,auto);
        grid-gap: 40px;
        grid-template-areas:
        "Design Motion Strategy";
    }
}

/*Laptop*/
/*Laptop*/

@media only screen and (min-width: 1000px) {
    .Home-Container {
        height: 200vh;
        grid-template: 0.1fr 1fr 0.5fr repeat(3, 0.2fr) / repeat(3, 0.33fr);
        grid-template-areas:
    "Home-Header Home-Header Home-Header"
    "Top-Title Top-Title Top-Title"
    "Box-1 Box-1 Box-1"
    "Offer Offer Offer"
    "Box-2 Box-2 Box-2 "
    "footer footer footer";
    }
    .max {
        max-width: 1060px;
    }
    .max-1{
        max-width: 900px;
    }
    .Home-Title-Container{
        width: 85%;
    }
    .Home-Title-Container h1{
        width: 60%;
    }

    .Box-1{
        width: 85%;
        grid-gap: 20px;
        margin-top: -120px;
        grid-template: repeat(2 , auto) / repeat(3,auto);
        grid-template-areas:
         "Pic-1 Pic-2 Pic-3" "Pic-4 Pic-5 Pic-6";
    }
    .Offer{
        width: 85%;
    }
    .Box-2{
        width: 85%;
        grid-gap: 100px;
        grid-template: 1fr / repeat(3,auto);
        grid-template-areas:
        "Design Motion Strategy";
    }
}
