Home-Container{
    width: 750px;
    display: grid;
    grid-gap: 10px;
    grid-template: 01fr 0.4fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 1fr 0.5fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr/ 1fr;
    grid-template-areas:
    "Home-Header" "Home-Title" "Picture-1" "Picture-2" "Picture-3" "Picture-4"
    "Picture-5" "Picture-6" "Offer" "Design" "Motion" "Strategy" "Contact-Us" "Home-Footer";
}
/*Header*/
.Header-Background{
    grid-area: Home-Header;
}
/*Home-Title*/
.Home-Title{
    grid-area: Home-Title;
    background-color: var(--yellow-primary-color);
}
.Home-Title-Container{
    text-align: left;
    padding: 80px 100px 200px 100px;
    box-sizing: border-box;
}
.Btn-Class{
    border: none;
    background-color: white;
    width:200px;
    height: 60px;
}
img{
    width: 100%;
    height: auto;
    position: relative;
    transition: .5s ease;
    backface-visibility: hidden;
    box-sizing: border-box;
}
.Picture-Bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.Picture-text{
    color: white;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.Picture{
    transition: all 2s;
}
.Picture-Container{
    overflow: hidden;
}
/*Picture-Hover*/
.Picture-Container:hover .Picture-Bg{
    opacity: 0.7;
}
.Picture-Container:hover .Picture{
    transform: scale(1.1);
}
.Picture-6-Container:hover{
    background-image: url("../Img/simple2-home-portfolio-project-6b.png");
}
/*Picture-position*/
.Picture-1-Home{
    grid-area: Picture-1;
    position: relative;
}
.Picture-2-Home{
    position: relative;
    grid-area: Picture-2;
}
.Picture-3-Home{
    position: relative;
    grid-area: Picture-3;
}
.Picture-4-Home{
    position: relative;
    grid-area: Picture-4;
}
.Picture-5-Home{
    position: relative;
    grid-area: Picture-5;
}
.Picture-6-Container{
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: Picture-6;
    background-image:  url("../Img/simple2-home-portfolio-project-6a.png");
}
/*Picture-Background*/
.Picture-Bg-1{
    background-color: rgba(0,0,0,0.8);
}
.Picture-Bg-2{
    background-color: rgba(255,4,55,0.8);
}
.Picture-Bg-3{
    background-color: rgba(228,157,51,0.8);
}

.Picture-Bg-4 {
    background-color: rgba(57,97,143,0.8);
}
.Picture-Bg-5 {
    background-color: rgba(0,0,0,0.8);
}
/*Offer*/
.Offer{
    grid-area: Offer;
    margin: 0 95px;
}
.Offer-Link{
    text-underline: black;
    color: inherit;
}
/*DMS*/
.Design{
    grid-area: Design;
    margin: 0 95px;
}
.Motion{
    grid-area: Motion;
    margin: 0 95px;
}
.Strategy{
    grid-area: Strategy;
    margin: 0 95px;
}
/*Contact-US*/
.Contact-Us{
    grid-area: Contact-Us;
    margin: 20px 95px;
}
.Contact-Us h1{
    color: var(--yellow-tertiary-color);
}
.Contact-Us-link{
    text-underline: var(--yellow-tertiary-color);
    color: inherit;
}
/*Footer*/
.Home-Footer{
    grid-area: Home-Footer;
}
@media screen and (min-width: 750px){
    .Home-Container {
        width: 1100px;
        display: grid;
        grid-template:  0.1fr 0.2fr 0.5fr 0.5fr 0.25fr 0.2fr 0.2fr/ 0.33fr 0.33fr 0.33fr;
        grid-template-areas:
    "Home-Header Home-Header Home-Header"
    "Home-Title Home-Title Home-Title"
    "Picture-1 Picture-2 Picture-3"
    "Picture-4 Picture-5 Picture-6"
    "Offer Offer Offer"
    "Design Motion Strategy"
    "Contact-Us Contact-Us Contact-Us"
    "Home-Footer Home-Footer Home-Footer";
    }
    .Picture-1-Container{
        margin: -180px 0 0 95px;
    }
    .Picture-2-Container{
        margin: -180px 47px 0 47px;
    }
    .Picture-3-Container{
        margin: -180px 95px 0 0;
    }
    .Picture-4-Container{
        margin: 37px 0 0 95px;
    }
    .Picture-5-Container{
        margin: 37px 47px 0 47px;
    }
    .Picture-6-Container{
        margin: 37px 95px 0 0;
    }
    .Offer{
        margin: 0 95px 0 95px;
    }
    .Design{
        margin: 0 0 0 95px;
    }
    .Motion{
        margin: 0 48px 0 47px;
    }
    .Strategy{
        margin: 0 95px 0 0;
    }
    .Contact-Us{
        margin: 0 0 0 95px;
    }
    h1{
        font-size: 41px;
        line-height: 50px;
        font-weight: 900;
    }
    .Home-Title-Container h1{
        width: 500px;
    }
    h2{
        font-size: 34px;
        line-height: 42px;
        font-weight: 900;
    }
    h3{
        font-size: 27px;
        line-height: 28px;
        font-weight: 800;
    }
    h4{
        font-size: 22px;
        line-height: 25px;
    }
    h5{
        font-size: 14px;
    }
    .Offer h2{
        width: 600px;
    }
    .DMS-Font{
        font-size: 24px;
        line-height: 28px;
        font-weight: 800;
    }
    .Contact-Us h1 {
        width: 600px;
    }
}
@media screen and (min-width: 1100px){
    .Home-Container{
        width: 100vw;
    }

    .Picture-1-Container{
        margin: -180px 0 0 95px;
    }
    .Picture-2-Container{
        margin: -180px 47px 0 47px;
    }
    .Image-2-4{
        height: 505px;
        width: auto;
    }
    .Picture-3-Container{
        margin: -180px 95px 0 0;
    }
    .Picture-4-Container{
        margin: 37px 0 0 95px;
    }
    .Picture-5-Container{
        margin: 37px 47px 0 47px;
    }
    .Picture-6-Container{
        margin: 37px 95px 0 0;
    }
    .Offer{
        margin: 0 95px 0 95px;
    }
    .Design{
        margin: 0 0 0 95px;
    }
    .Motion{
        margin: 0 48px 0 47px;
    }
    .Strategy{
        margin: 0 95px 0 0;
    }
    .Contact-Us{
        margin: 0 0 0 95px;
    }
    h1{
        font-size: 51px;
    }
    .Home-Title-Container h1{
        width: 600px;
    }
    h2{
        font-size: 40px;
        line-height: 42px;
    }
    h3{
        font-size: 29px;

    }
    h4{
        font-size: 24px;
    }
    h5{
        font-size: 16px;
    }
    .Offer h2{
        width: 800px;
    }
    .DMS-Font{
        font-size: 30px;
    }
    .Contact-Us h1 {
        width: 800px;
    }
}

