@font-face {
    font-family: "Encode Sans" , sans-serif;
    src: url("../../../Element/Fonts/Encode Sans") format("woff2");
}
@font-face {
    font-family: "Lora", sans-serif;
    src: url("../../../Element/Fonts/Encode Sans") format("woff");
}
/*Mobile S M L*/
h1, h2, h3 ,h4 ,h5{
    margin-bottom: 15px;
}
h1{
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0;
    font-weight: 800;
    font-family: "Encode Sans Expanded", Helvetica, Arial, sans-serif;
}
h2{
    font-family: "Encode Sans Expanded", Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    font-size: 27px;
    line-height: 33px;
    font-weight: 900;
    /*color: #161922;*/
}
h3{
    font-family: "Encode Sans Expanded", Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
}
h4{
    font-family: "Encode Sans Expanded", Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    /*color: var(--grey-color);*/
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
}
h5{
    font-family: "Encode Sans Expanded", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: lighter;
}
.DMS-Font {
    font-family: "Encode Sans Expanded", Helvetica, Arial, sans-serif;
}
/*Tablet*/
@media only screen and (min-width: 750px) and (max-width: 1000px) {
    h1 {
        font-size: 51px;
        line-height: 60px;
    }
    h2 {
        font-size: 38px;
        line-height: 47px;
    }
    h3 {
        font-size: 24px;
        line-height: 34px;
    }
    h4 {
        font-size: 20px;
        line-height: 27px;
    }
}
/*Laptop 1024 ++*/
@media only screen and (min-width: 1000px) {
    h1 {
        font-size: 60px;
        line-height: 70px;
        font-weight: 800
    }
    h2 {
        font-size: 45px;
        line-height: 55px;
        font-weight: 900;
    }
    h3 {
        font-size: 28px;
        line-height: 40px;
        font-weight: 700;
    }
    h4 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
    }
    h5{
        font-size:14px;
        line-height: 25px;
    }

}