@import "../../General/Css/footer.css";
@import "../../General/Css/General-Css.css";
@import "../../General/Css/Header-Css.css";

*{
    margin: 0;
    padding: 0;
}

.main-offer {
    height: 300vh;
    display: grid;
    grid-template-rows: 0.25fr 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
    grid-gap: 10px;
    grid-template-areas:
                         'header-background'
                         'header '
                         'content--design'
                         'content--motion'
                         'content--strategy'
                         'footer';
    font-family: "Encode Sans Expanded", Helvetica, Arial, sans-serif;
    width: 85%;
    margin: auto;
    justify-items: center;
    align-items: center;
}
.Header-Background{
    grid-area: header-background;
    width: 100%;
}
.header-explain {
    grid-area: header;
    width: 100%;
    margin: 5%;
}

.footer-explain {
    color: var(--yellow-secondary-color);
}

h2 {
    font-size: var(--medium-fontsize);
    line-height: 33px;
    font-weight: 800;
}

h3 {
    font-size: var(--small-fontsize);
    line-height: 24px;
    color: var(--grey-color);
    margin-top: 3%;
}

p {
    font-size: var(--verysmall-fontsize);
    line-height: 25px;
    margin-top: 3%;
    font-family: Helvetica,sans-serif;
}

.content--design {
    grid-area: content--design;
    width: 95%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
}

.image-fixed img {

}

.properti--design {
    width: 90%;
}


.content--motion {
    grid-area: content--motion;
    width: 95%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
}

.properti--motion {
    width: 90%;
}


.content--strategy {
    grid-area: content--strategy;
    width: 95%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
}


.properti--strategy {
    width: 90%;
}

@media only screen and (min-width: 1000px) {
    .max{
        max-width: 1060px;
    }
    .header-explain{
        margin-top: 110px;
    }
    h2 {
        font-size: var(--verylarge-fontsize);
        line-height: 42px;
    }

    h3 {
        font-size: var(--medium-fontsize);
        line-height: 32px;
    }

    p {
        font-size: var(--verysmall-fontsize);
        line-height: 28px;
    }


    .content--design {
        display: flex;
        flex-direction: row;
    }

    .properti--design {
        width: 42rem;
        box-sizing: border-box;
        margin-left: 15%;
    }


    .content--motion {
        display: flex;
        flex-direction: row;
    }

    .properti--motion {
        width: 42rem;
        box-sizing: border-box;
        margin-left: 15%;
    }


    .content--strategy {
        display: flex;
        flex-direction: row;
    }

    .properti--strategy {
        width: 42rem;
        box-sizing: border-box;
        margin-left: 15%;
    }
}


@media only screen and (min-width: 750px) and (max-width: 999px) {
    h2 {
        font-size: var(--large-fontsize);
        line-height: 38px;
    }

    h3 {
        font-size: var(--medium-fontsize);
        line-height: 28px;
    }

    p {
        font-size: var(--verysmall-fontsize);
    }


    .content--design {
        display: flex;
    }

    .properti--design {
        width: 80%;
        box-sizing: border-box;
        margin-left: 5%;
    }


    .content--motion {
        display: flex;
    }

    .properti--motion {
        width: 80%;
        box-sizing: border-box;
        margin-left: 5%;
    }


    .content--strategy {
        display: flex;
    }

    .properti--strategy {
        width: 80%;
        box-sizing: border-box;
        margin-left: 5%;
    }
}