html{
    font-size: 10px;
}
:root{
    --grey-color: #CCCCCC;
    --yellow-color:#f2e400
}


.main-offer {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr;
    grid-gap: 10px ;
    grid-template-areas: 'header '
                         'content--design'
                         'content--motion'
                         'content--strategy';
    font-family: "Encode Sans Expanded", Helvetica, Arial, sans-serif;
    width: 80%;
    margin: auto;
}

.header-explain {
    grid-area: header;
    margin: 5%;
}
.footer-explain{
    color:var(--yellow-color);
}
h2 {
    font-size: 30px;
    line-height: 33px;
    font-weight: 800;
}
h3 {
    font-size: 24px;
    line-height: 24px;
    color: var(--grey-color);
}
p{
    font-size: 14px;
    line-height: 26px;
}

.content--design {
    grid-area:content--design ;
    width: 95%;
    margin: 3rem auto;
}

.image--design{

}

.properti--design{
    width: 90%;
}



.content--motion {
    grid-area:content--motion ;
    width: 95%;
    margin: 3rem auto;
}

.image--motion{

}

.properti--motion{
    width: 90%;
}



.content--strategy {
    grid-area:content--strategy ;
    width: 95%;
    margin: 3rem auto;
}

.image--strategy{

}

.properti--strategy{
    width: 90%;
}


@media only screen and (min-width: 1450px){
    h2 {
        font-size: 60px;
        line-height: 62px;
    }
    h3 {
        font-size: 38px;
        line-height: 42px;
    }
    p{
        font-size: 26px;
        line-height: 30px;
    }


    .content--design {
        display: flex;
    }
    .properti--design{
        width: 60rem;
        box-sizing: border-box;
        margin-left: 20%;
    }


    .content--motion {
        display: flex;
    }
    .properti--motion{
        width: 60rem;
        box-sizing: border-box;
        margin-left: 20%;
    }



    .content--strategy {
        display: flex;
    }
    .properti--strategy{
        width: 60rem;
        box-sizing: border-box;
        margin-left: 20%;
    }
}



@media only screen and (min-width: 1000px) and (max-width: 1449px){
    h2 {
        font-size: 42px;
        line-height: 40px;
    }
    h3 {
        font-size: 28px;
        line-height: 30px;
    }
    p{
        font-size: 15px;
        line-height: 28px;
    }


    .content--design {
        display: flex;
        justify-content: space-between;
    }
    .properti--design{
        width: 55rem;
        box-sizing: border-box;
        margin-left: 15%;
    }


    .content--motion {
        display: flex;
    }
    .properti--motion{
        width: 55rem;
        box-sizing: border-box;
        margin-left: 15%;
    }



    .content--strategy {
        display: flex;
    }
    .properti--strategy{
        width: 55rem;
        box-sizing: border-box;
        margin-left: 15%;
    }
}



@media only screen and (min-width: 750px) and (max-width: 999px){
    h2 {
        font-size: 33px;
        line-height: 38px;
    }
    h3 {
        font-size: 26px;
        line-height: 28px;
    }
    p{
        font-size: 14px;
    }


    .content--design {
        display: flex;
    }
    .properti--design{
        width: 80%;
        box-sizing: border-box;
        margin-left: 5%;
    }


    .content--motion {
        display: flex;
    }
    .properti--motion{
        width: 80%;
        box-sizing: border-box;
        margin-left: 5%;
    }



    .content--strategy {
        display: flex;
    }
    .properti--strategy{
        width: 80%;
        box-sizing: border-box;
        margin-left: 5%;
    }
}