:root{
    --yellow-primary-color: #fff226;
    --grey-color: #CCCCCC;
    --yellow-secondary-color: #f2e400;
    --gray-small: #F0F0F0;
    --verylarge-fontsize: 3rem;
    --large-fontsize: 2.3rem;
    --medium-fontsize: 2rem;
    --small-fontsize: 1.5rem;
    --verysmall-fontsize: 0.8rem;
}