* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Lora";
    src: url("../../../Element/Fonts/Lora/0QIhMX1D_JOuMw_LIftL.woff2") format("woff2");
}

@font-face {
    font-family: "Encode Sans";
    src: url("../../../Element/Fonts/Encode Sans/c4mw1mF4GcnstG_Jh1QH6ac4hNLeNyeYUpKeDBNPVo0.woff2") format("woff2");
}

:root {
    --yellow-primary-color: #fff226;
    --grey-color: #CCCCCC;
    --yellow-secondary-color: #f2e400;
    --gray-small: #F0F0F0;
    --verylarge-fontsize: 3rem;
    --large-fontsize: 2.3rem;
    --medium-fontsize: 2rem;
    --small-fontsize: 1.5rem;
    --verysmall-fontsize: 0.8rem;
}

.container {
    width: 100%;
    height: 200vh;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 2fr 3fr 2fr 2fr;
    grid-template-areas:
            "header"
            "about--title"
            "about--img"
            "about--story"
            "about--dec"
            "footer";
    align-items: center;
    justify-items: center;
}

.header {
    grid-area: header;
}

.about--title {
    grid-area: about--title;
    width: 85%;
    margin: 4rem;
}

.about--title h1 {
    font-size: var(--medium-fontsize);
    font-family: "Encode Sans", sans-serif;
}

.about--title h2 {
    font-size: 1rem;
    font-family: "Encode Sans", sans-serif;
    color: var(--grey-color);
    line-height: 40px;
    margin-top: 0.5rem;
}

.about--img {
    grid-area: about--img;
    width: 85%;
}

.about--img img {
    max-width: 100%;
    height: auto;
}

.about--story {
    grid-area: about--story;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.story--title {
    margin: 3rem 0;
}

.story--title h2 {
    font-size: 1rem;
    font-family: "Encode Sans", sans-serif;
    color: var(--grey-color);
}

.about--story p {
    font-family: Lora, sans-serif;
}

.about--number {
    font-family: Lora, sans-serif;
    margin: 3rem 0;
}

.number {
    display: flex;
    flex-direction: column;
}

.about--number img {
    width: 63px;
    height: 63px;
    margin: 1rem 0;
}

.about--dec {
    grid-area: about--dec;
    width: 85%;
    margin: 2rem 0;
}

.about--dec p {
    color: var(--grey-color);
    font-family: "Encode Sans", sans-serif;
    padding-left: 2rem;
    border-left: 0.5rem solid var(--gray-small);
}

.footer {
    grid-area: footer;
    width: 85%;
}

.contactus--style {
    font-family: Encode Sans, sans-serif;
    font-size: 1.3rem;
    line-height: 41px;
    color: var(--yellow-secondary-color);
    letter-spacing: 0;
    margin-top: 4rem;
}

.contactus--style a {
    outline: 0;
    color: var(--yellow-secondary-color);
    margin: 0;
}

.footer2 {
    display: flex;
    flex-direction: column;
}

.footer3 {
    display: flex;
    flex-direction: column;
}

.small--logo {
    margin-bottom: 110px;
    margin-top: 120px;
}

.small--logoSub {
    margin-bottom: 40px;
}

.footer--dec {
    margin-bottom: 100px;
}

.arrow--up {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.arrow--up a {

}

.footer--end {
    text-align: center;
}

.color--Fyellow {
    color: #fff226;
}

@media only screen and (min-width: 1000px) {
    .container {
        height: 150vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 3fr  2fr 2fr 3fr;
        grid-template-areas:
            "header header"
            "about--title about--title"
            "about--img about--img"
            "about--story about--story"
            "about--dec about--dec"
            "footer footer";
    }

    .max {
        max-width: 1060px;
    }

    .about--title h1 {
        font-size: var(--verylarge-fontsize);
    }

    .about--title h2 {
        font-size: var(--medium-fontsize);
    }

    .story--title h2{
        font-size: var(--medium-fontsize);
    }

    .fix {
        display: flex;
        flex-direction: row;
    }

    .story--dec {
        width: 50%;
        margin: 0;
    }

    .story--dec_style {
        width: 85%;
    }

    .about--number {
        width: 50%;
        margin: 0;
    }

    .number {
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .number img {
        margin: 0 1rem 1rem 1rem;
    }

    .about--dec {
        font-size: var(--medium-fontsize);
    }

    .footer1 {
        width: 70%;
    }

    .contactus--style {
        font-size: 1.9rem;
        font-weight: bolder;
        line-height: 3rem;
    }

    .footer2 {
        flex-direction: row;
        margin: 9rem 0;
    }

    .footer3 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .small--logo {
        margin: 0;
        width: 50%;
    }

    .small--logoSub {
        margin-bottom: 0;
        width: 25%;
    }

    .footer--dec {
        margin-bottom: 0;
        width: 25%;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1000px) {
    .container {
        height: 150vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 3fr 5fr 2fr 4fr;
        grid-template-areas:
            "header header"
            "about--title about--title"
            "about--img about--img"
            "about--story about--story"
            "about--dec about--dec"
            "footer footer";
    }

    .about--title h1 {
        font-size: var(--large-fontsize);
    }

    .about--title {
        font-size: var(--small-fontsize);
    }

    .story--title h2{
        font-size: var(--small-fontsize);
    }

    .fix {
        display: flex;
        flex-direction: row;
    }

    .story--dec {
        width: 50%;
        margin: 0;
    }

    .story--dec_style {
        width: 85%;
    }

    .about--number {
        width: 50%;
        margin: 0;
    }

    .number {
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .number img {
        margin: 0 1rem 1rem 1rem;
    }

    .about--dec {
        font-size: var(--small-fontsize);
    }

    .footer1 {
        width: 80%;
    }

    .contactus--style {
        font-size: 1.6rem;
        font-weight: bolder;
        line-height: 3rem;
    }

    .footer2 {
        flex-direction: row;
        margin: 9rem 0;
    }

    .footer3 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .small--logo {
        margin: 0;
        width: 50%;
    }

    .small--logoSub {
        margin-bottom: 0;
        width: 25%;
    }

    .footer--dec {
        margin-bottom: 0;
        width: 25%;
    }
}

