@import "../../General/Css/footer.css";
@import "../../General/Css/Header-Css.css";
@import "../../General/Css/General-Css.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: 200vh;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 2fr 3fr 2fr 2fr;
    grid-template-areas:
            "about--title"
            "about--img"
            "about--story"
            "about--dec"
            "footer";
    align-items: center;
    justify-items: center;
}
.about__title {
    grid-area: about--title;
    width: 85%;
    margin: 4rem;
}

.about__title h1 {
    font-size: var(--medium-fontsize);
    font-family: "Encode Sans", sans-serif;
}

.about__title h2 {
    font-size: 1rem;
    font-family: "Encode Sans", sans-serif;
    color: var(--grey-color);
    line-height: 40px;
    margin-top: 0.5rem;
}

.about__img {
    grid-area: about--img;
    width: 85%;
}

.about__img img {
    max-width: 100%;
    height: auto;
}

.about__story {
    grid-area: about--story;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.about__story--title {
    margin: 3rem 0;
}

.about__story--title h2 {
    font-size: 1rem;
    font-family: "Encode Sans", sans-serif;
    color: var(--grey-color);
}

.about__story p {
    font-family: Lora, sans-serif;
}

.about__number {
    font-family: Lora, sans-serif;
    margin: 3rem 0;
}

.about__number--style {
    display: flex;
    flex-direction: column;
}

.about__number img {
    width: 63px;
    height: 63px;
    margin: 1rem 0;
}

.about__dec {
    grid-area: about--dec;
    width: 85%;
    margin: 2rem 0;
}

.about__dec p {
    color: var(--grey-color);
    font-family: "Encode Sans", sans-serif;
    padding-left: 2rem;
    border-left: 0.5rem solid var(--gray-small);
}

@media only screen and (min-width: 1000px) {
    .container {
        height: 150vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 3fr  2fr 2fr 3fr;
        grid-template-areas:
            "about--title about--title"
            "about--img about--img"
            "about--story about--story"
            "about--dec about--dec"
            "footer footer";
    }

    .max {
        max-width: 1060px;
    }

    .about__title h1 {
        font-size: var(--verylarge-fontsize);
    }

    .about__title h2 {
        font-size: var(--medium-fontsize);
    }

    .about__story--title h2 {
        font-size: var(--medium-fontsize);
    }

    .about__story--fixStyle {
        display: flex;
        flex-direction: row;
    }

    .about__story__style {
        width: 50%;
        margin: 0;
    }

    .about__story--dec {
        width: 85%;
    }

    .about__number {
        width: 50%;
        margin: 0;
    }

    .about__number--style {
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .about__number--style img {
        margin: 0 1rem 1rem 1rem;
    }

    .about__dec {
        font-size: var(--medium-fontsize);
    }

}

@media only screen and (min-width: 750px) and (max-width: 1000px) {
    .container {
        height: 150vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 3fr 5fr 2fr 4fr;
        grid-template-areas:
            "about--title about--title"
            "about--img about--img"
            "about--story about--story"
            "about--dec about--dec"
            "footer footer";
    }

    .about__title h1 {
        font-size: var(--large-fontsize);
    }

    .about__title {
        font-size: var(--small-fontsize);
    }

    .about__story--title h2 {
        font-size: var(--small-fontsize);
    }

    .about__story--fixStyle {
        display: flex;
        flex-direction: row;
    }

    .about__story__style {
        width: 50%;
        margin: 0;
    }

    .about__story--dec {
        width: 85%;
    }

    .about__number {
        width: 50%;
        margin: 0;
    }

    .about__number--style {
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .about__number--style img {
        margin: 0 1rem 1rem 1rem;
    }

    .about__dec {
        font-size: var(--small-fontsize);
    }

}

